.Navbar {
  width: 100%;
  padding: 0.5rem 0;
  background-color: #2980B9;
}

.Navbar__brand {
  color: #ffffff;

  display: flex;
  align-items: center;
}

.Navbar__brand:hover {
  color: #ffffff;
  text-decoration: none;
}

.Navbar__brand-logo {
  margin-right: 0.5rem;
  width: 3rem;
}

.Navbar__font-yellow {
  color: #F4D03F ;
  font-weight: bold;
}

.Navbar__font-white {
  color: white ;
  font-weight: bold;
}

.Navbar__font_li {
  color: white ;
}